@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  background-color: #060d20;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
}

::-webkit-scrollbar-thumb {
  background: #2b70d5;
}

.mobileNavBg {
  background: rgba(11, 24, 56, 0.99);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(6.5px) !important;
  border-radius: 10px;
}
.cardBg {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(39, 39, 47, 0.5);
  box-shadow: 0 8px 32px 0 rgba(30, 35, 108, 0.37);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.iconBg {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(39, 39, 47, 0.5);
  box-shadow: 0 4px 28px 0 rgba(30, 35, 108, 0.37);
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.125);
}

.bgBlur {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.swiper-button-next,
.swiper-button-prev {
  font-weight: bold;
}
@media screen and (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

.lineCap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.active {
  color: #2b70d5;
  font-weight: 600;
}

.inactive {
  color: rgba(255, 255, 255, 0.8);
}
.inactive:hover {
  color: white;
}

/* CTF Members Slider */
.memberSwiper .swiper-wrapper {
  padding-bottom: 50px;
}

.memberSwiper .swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 5px !important;
}

.memberSwiper .swiper-pagination-bullet {
  background-color: white !important;
}
